@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  height: 100%;
  display: flex;
  position: relative;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6d6d6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.imgCalendar{
  width: 180px;
  position: absolute;
  margin-top: -30px;
}

.css-dip3t8 {
  background-color: rgb(0, 0, 0, 0.0) !important;
}

@media only screen and (max-width: 500px){ 

  .imgCalendar{
    width: 120px;
    position: absolute;
    margin-top: -10px;
  }
}

.container_login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  
}